In [1]:
import pandas as pd

1.Creat dataframe

1.1 import data

In [4]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head(5)

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

1.2 Drop cells with a borough that is not assigned

In [5]:
# drop cells that borough is "not assigned"
df_drop=df[df["Borough"]!="Not assigned"]
df_drop.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [6]:
# reset the index of df2
df_drop=df_drop.reset_index(drop=True)
df_drop.head(5)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

1.3 Group "Neighborhood" with the same borough

In [10]:
df_group=df_drop.groupby(["Postal Code","Borough"],as_index=False).agg({"Neighborhood":lambda x:",".join(x)})
df_group.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

1.4 For "Neighborhood"=="Not assigned", make the value of it the same as "Borough"

In [12]:
for index,row in df_group.iterrows():
    if row["Neighborhood"]=="Not assigned":
        row["Neighborhood"]=row["Bprough"]
        
df_group.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

1.5 check the shape of dataframe

In [13]:
df_group.shape

(103, 3)