In [1]:
import pandas as pd

1.Creat dataframe

1.1 import data

In [4]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head(5)

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

1.2 Drop cells with a borough that is not assigned

In [5]:
# drop cells that borough is "not assigned"
df_drop=df[df["Borough"]!="Not assigned"]
df_drop.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [6]:
# reset the index of df2
df_drop=df_drop.reset_index(drop=True)
df_drop.head(5)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

1.3 Group "Neighborhood" with the same borough

In [10]:
df_group=df_drop.groupby(["Postal Code","Borough"],as_index=False).agg({"Neighborhood":lambda x:",".join(x)})
df_group.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

1.4 For "Neighborhood"=="Not assigned", make the value of it the same as "Borough"

In [12]:
for index,row in df_group.iterrows():
    if row["Neighborhood"]=="Not assigned":
        row["Neighborhood"]=row["Bprough"]
        
df_group.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

1.5 check the shape of dataframe

In [13]:
df_group.shape

(103, 3)

2.Question2: Merge two dataframe

In [44]:
# load the coodinates 
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

client_0d14369c47114b6f95c11ce0a4f7e7dc = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='p_hNcVgPL5-QiOqIpGEbLOn9_Ml5nBI23dBv6ZIec9e3',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_0d14369c47114b6f95c11ce0a4f7e7dc.get_object(Bucket='capstoneproject-donotdelete-pr-xe45nkm9516pmb',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

geo= pd.read_csv(body)
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [51]:
# merge df2 and geo
df_new=df2.merge(geo,how='inner',on='Postal Code')
df_new.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494